{% extends 'default.html' %}

{% block title %}
    My response
{% endblock title %}

{% block content %}
    <h2>Поиск откликов по объявлениям</h2>
    <br>
    <form action="" method="get">
        <h5>{{ filterset.form.as_p }}</h5>
        <input class="btn btn-secondary" type="submit" value="Найти" />
    </form>
    <br><br>
    {% if myresponse %}
        {% for comment in myresponse %}

            <h4><a class="nav-link" href="/subclass/{{ response.response_subclass.id }}">
                Объявление: {{ response.response_subclass.title}}</a></h4>
            <br>
            <h5>Отклик: {{ response.text_response }}</h5>
            <table width="100%">
                <tr>
                    <td width="200"><div>{{ response.date_in|date:'d M Y' }}</div>
                        <div>Автор: {{ response.author|truncatechars:20 }}</div>
                    </td>
                    <td align="left">
                        {% if response.response %}
                        <p>Отклик принят</p>
                        {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <a style="text-decoration: none" href="{% url 'accept_response' response.id %}">
                                <input class="btn btn-sm btn-light btn-outline-info"
                                       type="button" value="Принять" />
                            </a>
                            <a style="text-decoration: none" href="/myresponse/{{ response.id }}/delete">
                                <input id="deleteButton" class="btn btn-sm btn-light btn-outline-info"
                                       type="button" value="Удалить" />
                            </a>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            </table>

        <br><br><br>
        {% endfor %}
    {% else %}
        <h4>Извините, откликов сейчас нет!</h4>
    {% endif %}

<script>
/*   const deleteBtn = document.getElementById('deleteButton')

    const deleteHandler = () => {
        confirm('Вы действительно хотите удалить этот отклик?')
    }

    document.addEventListener('click', deleteHandler)
*/
</script>
{% endblock content %}